Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "\.(env|log|md|sql)$">
    Require all denied
</FilesMatch>
